<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.enuke.unicon">
    <supports-screens android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen"/>
        <activity android:name=".activity.change_notif"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen"/>
        <activity android:name=".activity.login_changednotif"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen"/>
        <activity android:name=".activity.Forget_pass"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen"/>
        <activity
            android:name=".activity.OngoingContestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activity.Logincreator"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activity.MyprofileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activity.ChargingRequestCompleted"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activity.optionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activity.creator_contestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activity.ShareChargeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activity.ShareFeeDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activity.FinishedAppointmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activity.DepositInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activity.RegistrationConfirmationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activity.ContestMoreInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activity.PrizeAllocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activity.creator_video"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activity.ChangingPriceAllocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ContestBasicInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ContestDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activity.SocialLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activity.share_cost_deposit"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FeedActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>